<section>
	<div id="carousel" class="carousel slide carousel-fade"
	data-ride="carousel">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<img src="/images/body-bg-1.jpg" width="100%">
			<div class="carousel-caption">
				<div class="full-width text-center">
				<h1>ADDRESS THE ROOT CAUSE</h1>
				<h4>Instead of Simply "Managing Symptoms Instead of Dealing With Side Effects."</h4>
				<a href="" class="btn btn-default">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>